* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    width: 100%;
}

footer iframe {
    width: 100%;
    height: 20.83vw;
}

:root {
    --sec2-back: #EFE1C7; 
    --sec2-h1: #3A1F1B; 
}

#banner {
    background-image: url('/images/alimentacao/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw; 
    height: 39vw;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-banner {
    display: flex;
    width: 45vw; 
    flex-direction: column;
    margin-left: 8vw;
    gap: 3vw;
}

#banner h1 {
    color: var(--Branco, #EFE1C7);
    font-family: "The Next Font";
    font-size: 5.47vw;
    line-height: normal;
    font-weight: 400;
    width: 56vw;
    margin: 0; 
}

#banner p {
    color: #FFF;
    width: 45vw;
    font-family: "Louis George Cafe";
    font-size: 2.08vw;
    font-style: normal;
    font-weight: 700;
    margin: 0; 
}

.sec2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sec2-back);
    width: 100%;
    height: 48vw;
    flex-shrink: 0;
    gap: 2vw;
}

.esquerda {
    background-image: url('/images/alimentacao/imgsect2.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 50%; 
    height: 39vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.direita {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 48vw;
}

.direita h1 {
    color: var(--sec2-h1);
    text-align: center;
    font-family: "PLAYFUL RUNWAY";
    font-size: 3.33vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 35vw;
    margin-top: 4vw;
}

.direita h2 {
    color: #3A1F1B;
    font-family: "The Next Font";
    font-size: 1.67vw;
    font-weight: 400;
    width: 20vw;
}

.resp {
    width: 47vw;
    height: 13vw;
    flex-shrink: 0;
    border-radius: 3vw;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resp p {
    color: #321B17;
    text-align: justify;
    font-family: "Louis George Cafe";
    font-size: 1.88vw;
    font-weight: 400;
    width: 41vw;
}

.cx {
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: 53vw;
}

.cx img {
    width: 3vw;
}

.cx p {
    font-family: "Louis George Cafe";
    font-size: 1.2vw;
    font-weight: 500;
    text-align: center;
    width: 8vw;
}

#cx1, #cx2, #cx3, #cx4 {
    display: flex;
    flex-direction: column;
    width: 10.5vw;
    height: 10vw;
    border: 0.2vw solid var(--Marrom, #5E332C);
    border-radius: 6vw 6vw 0 0;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#cx1 {
    background: var(--Laranja, #F2A518);
}

#cx2 {
    background: rgba(91, 115, 82, 0.60);
}

#cx3 {
    background: var(--Lils, #FAF5FF);
}

#cx4 {
    background: var(--Amarelo, #ECC46F);
}

.sec3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indoali {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw 0;
}

.indoali > h1 {
    text-align: center;
    width: 52vw;
    font-family: "PLAYFUL RUNWAY";
    font-size: 4.17vw;
    font-weight: 400;
    line-height: normal;
}

.back {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        to bottom,
        #ECC46F 0%,
        #ECC46F 33%,
        #F2A518 33%,
        #F2A518 66%,
        #5E332C 66%,
        #5E332C 100%
    );
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0 5vw;
    gap: 2vw;
}

.fil1 {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.fil2 {
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: space-between;
}

.ovo {
    width: 27.19vw;
    height: 36.09vw; 
    background-size: cover;
    background-position: center;
    background-image: url('/images/alimentacao/ovo.png');
}

.espi_cenou {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: 100%;
}

.espinafre {
    width: 27.19vw;
    height: 16.61vw;
    background-size: cover;
    background-position: center;
    background-image: url('/images/alimentacao/espinafre.png');
}

.cenoura {
    width: 27.19vw;
    height: 16.61vw;
    background-size: cover;
    background-position: center;
    background-image: url('/images/alimentacao/cenoura.png');
}

.abacate {
    width: 27.19vw;
    height: 36.09vw; 
    background-size: cover;
    background-position: center;
    background-image: url('/images/alimentacao/abacate.png');
}

.salmao {
    width: 41.98vw;
    height: 20.63vw; 
    background-size: cover;
    background-position: center;
    background-image: url('/images/alimentacao/salmão.png');
}

.morango {
    width: 41.98vw; 
    height: 20.63vw;
    background-size: cover;
    background-position: center;
    background-image: url('/images/alimentacao/morango.png');
}

.elementos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%; 
    padding: 0 2% 3% 2%; 
}

.elementos h1 {
    color: #FFF;
    font-family: "The Next Font";
    font-size: 1.88vw;
    font-weight: 400;
    text-shadow: 0vw 0.1vw 0.3vw rgba(0, 0, 0, 0.7);
}

.elementos p {
    width: 90%;
    color: #FFF;
    font-family: "Louis George Cafe";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 200;
    line-height: 1.3;
    text-shadow: 0vw 0.1vw 0.3vw rgba(0, 0, 0, 0.7);
}



.sec4 {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 62vw;
}

.direitah {
    width: 50%;
    background-image: url('/images/alimentacao/sec4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.esquerdah {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 4vw;
    margin-left: 8vw;
}

.esquerdah h1 {
    color: #000;
    font-family: "PLAYFUL RUNWAY";
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 31vw;
    margin-top: 3vw;
}

.esquerdeh > li {
  font-family: "Louis George Cafe";
  font-size: 1.46vw;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 3.7vw;
  border-radius: 0 1.56vw 1.56vw 0;
  background: #EBEBEA;
  margin-bottom: 1.88vw;
  padding-left: 1.56vw;
  width: 36vw; 
}

.esquerdeh > li:nth-child(even) {
  background: #EFE1C7;
}

.esquerdeh > li p {
  font-family: "PLAYFUL RUNWAY";
  font-size: 1.67vw;
  font-weight: 400;
  margin: 0 1.82vw 0 0;
  min-width: 1.5vw;
  text-align: center;
}

.esquerdeh > li .linha {
  width: 0.03vw;
  height: 2.71vw;
  background-color: #000000;
  margin-right: 0.68vw;
}

#ol1 { 
    width: 40vw; 
}

#ol2 { 
    width: 38.5vw; 
}

#ol3 { 
    width: 37vw; 
}

#ol4 { 
    width: 35.5vw; 
}

#ol5 { 
    width: 34vw; 
}

#ol6 { 
    width: 32.3vw; 
}

#ol7 { 
    width: 30.7vw; 
}

#ol8 { 
    width: 29.2vw; 
}




.repartição {
    display: flex;
    align-items: center;
    margin: 8vw 0vw 5vw;
    width: 87.5vw;
    height: 0.1vw;
    background: #000;
}





.sec5 {
    width: 100vw;
    height: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
}

.secao1 {
    display: flex;
    gap: 2vw;
}

.secao2 {
    display: flex;
    gap: 2vw;
}

.partedebaixo {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.text {
    width: 83%;
}

.sec5 h2 {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: justify;
    font-family: "PLAYFUL RUNWAY";
    font-size: 4.17vw;
    font-weight: 400;
}

.sec5 h3 {
    display: flex;
    width: 30vw;
    height: 3.65vw;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: justify;
    font-family: "Louis George Cafe";
    font-size: 1.67vw;
    font-weight: 400;
}

.linhas {
    display: flex;
    margin-top: 12%;
    gap: 10%;
    margin-left: 0.63vw;
}

.card {
    background-color: #EBEBEA;
    width: 20vw;
    height: 21vw;
    border-radius: 2vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.ftcard {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    gap: 4%;
}

.conteudo button {
    display: flex;
    width: 9vw;
    height: 2.19vw;
    padding: 0.66vw 1.75vw;
    justify-content: center;
    align-items: center;
    gap: 0.45vw;
    border: none; 
    border-radius: 1.21vw;
    background: #722F53;
    color: #FFF;
    text-align: center;
    font-family: "The Next Font";
    font-size: 0.9vw;
    font-weight: 300;
    transition: all 0.3s ease;
}

.conteudo h1 {
    color: #000;
    width: 100%;
    font-family: "The Next Font";
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.conteudo p {
    color: #000;
    text-align: justify;
    font-family: "Louis George Cafe";
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
