*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
   height: 100%;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   background-color: var(--body-back);
   color: var(--corpo-texto);
}
header{
    width: 100%;
    height: 560px;
    flex-shrink: 0;
   
    position: relative;
   
}
main
{
    position: relative;
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
        background-color: #AA35B0;

    
}
main > article
{
    padding-top: 100px;
    padding-left: 224px;
    padding-right: 224px;
    margin-top: -209px;
    width: 115%;
    background-color: #ffffff;
    color: var(--corpo-texto);
}
main > article > h1
{
font-family: "Louis George Cafe";
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 68px;
}
main > article > p
{
font-family: "Louis George Cafe";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 35px;
text-align: justify;
}
main > article > h3
{
font-family: "Louis George Cafe";
font-size: 37.333px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
main> h1, main > article > h3, p
{
    margin-bottom: 96px;
}
main > article > ul
{
    color:black;
font-family: "Louis George Cafe";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 35px;
margin-bottom: 140px;
list-style-type: disc;
list-style-position: inside;
}
main> h1, main > article > h3, p, ul
{
    margin-bottom: 68px;
}
.texto-amarelo:hover
{
    color: #F2A518;
    transition: all 0.5s ease;

}
.texto-amarelo:active
{
  
    color: #C17802;
}
.texto-roxo:hover
{
    transition: all 0.5s ease;
    color: #AA35B0;
    cursor: pointer;
}
@media  (min-width: 200px) and (max-width: 580px) {
    main > article > p
    {
        width: 400px;
    }
    main > article > h1
    {
        width: 400px;
    }
    main > article > h3
    {
        width: 400px;
    }
    main > article > ul > li
    {
        width: 400px;
    }
}
@media  (min-width: 580px) and (max-width: 1200px) {

    main > article > p
    {
        width: 600px;
    }
    main > article > h1
    {
        width: 600px;
    }
    main > article > h3
    {
        width: 600px;
    }
    main > article > ul > li
    {
        width: 600px;
    }
}