body, html {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
}

.principal {
    width: 70%;
    margin-top: 10vh;
    margin-left: 8vh;
    display: flex;
    align-items: flex-start;
}

.esquerda {
    margin-right: 5vh;
}

.esquerda img {
    height: 90vh;
    width: auto;
}

.botooes {
    margin-bottom: 3vh;
}

#but {
    padding: 0.01vh 2.9vh;
    border-width: 0.22vh;
    border-color: black;
    border-radius: 2vh;
    background-color: transparent;
    margin-right: 2vh;
    color: #000;
    font-family: "Louis George Cafe";
    font-size: 2.2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.direita {
    margin-top: 1vh;
}

.parte-superior {
    margin-top: 2vh;
}

#tit1 {
    color: #000;
    font-family: "The Next Font";
    font-size: 5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1vh;
    margin-top: 0;
}

#corpo-texto1 {
    color: #000;
    font-family: "Louis George Cafe";
    font-size: 2.3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

#corpo-tit {
    color: #420E45;
    font-family: "PLAYFUL RUNWAY";
    font-size: 2.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline solid #420E45;
    margin-bottom: 1vh;
    margin-top: 0;
    margin-top: 4vh;
}

#corpo-tit1 {
    color: #420E45;
    font-family: "PLAYFUL RUNWAY";
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline solid #420E45;
    margin-bottom: 1vh;
    text-align: center;
    margin-top: 0.4vh;
    margin-bottom: 2vh;
}

#corpo-texto2 {
    color: #000;
    font-family: "Louis George Cafe";
    font-size: 2.32vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    overflow-wrap: break-word;
}

.parte-inferior {
    margin-top: 5vh;
    display: flex;
    gap: 4vh;
}

.quadradinhos {
    display: flex;
    flex-direction: column;
    width: 27vh;
    padding: 2.7vh;
    border-radius: 1vh;
    background: #FFF;
    box-shadow: 0 4px 22.9px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2vh;
    max-width: 27vh;
    max-height: 44vh;
}

.quadradinhos p {
    margin-top: 0;
}

.secundario {
    width: 90%;
    margin-top: 11vh;
    margin-left: 12vh;
    display: flex;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tit-3 {
    color: #000;
    text-align: center;
    font-family: "PLAYFUL RUNWAY";
    font-size: var(--TTULO-2, 4.6vh);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5vh;
}

.recs {
    display: flex;
    gap: 6vh;
    margin: 0;
}

#estre-rec {
    width: 14vh;
    margin-top: 1.8vh;
}

#tit-4 {
    color: #000;
    font-family: "The Next Font";
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.rec button {
    padding: 0.01vh 1.9vh;
    border-width: 0.22vh;
    border-color: black;
    border-radius: 2vh;
    background-color: transparent;
    margin-right: 1.2vh;
    color: #000;
    font-family: "Louis George Cafe";
    font-size: 1.8vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 2vh;
}

#text-rec {
    color: #000;
    font-family: "Louis George Cafe";
    font-size: 1.7vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: justify;
    overflow-wrap: break-word;
}



