/* src/styles/globals.css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* CORREÇÃO: Atualizar caminhos das fontes */
@font-face {
  font-family: 'PLAYFUL RUNWAY';
  src: url('/assets/fontes/PlayfulRunway.woff2') format('woff2');
}
@font-face {
  font-family: 'THE NEXT FONT';
  src: url('/assets/fontes/TheNextFont.woff2') format('woff2');
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('/assets/fontes/LouisGeorgeCafe.woff2') format('woff2');
}

html, body {
    width: 100%;
}

a {
    color: #040101;
    text-align: center;
    font-family: "The Next Font";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.botoes {
   border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246.667px;
    height: 65.333px;
    padding: 10.667px 52px;
    border-radius: 36px;
    background: #722F53;
    color: #FFF;
    text-decoration: none;
}
.botoes > a, .botoes > p {
    color: #FFF;
    font-size: 26.67px;
    font-family: 'The Next Font';
}
.botoes:hover{
    background: radial-gradient(50% 50% at 51% 37%, rgba(135, 19, 141, 1) 0%, rgba(216, 89, 157, 0.18) 100%);
    box-shadow: 0px 5px 10.7px 0px rgba(158, 22, 93, 0.85);
}
.botoes:active {
    border: 1px solid #4D0626;
    background: linear-gradient(27deg, rgba(0, 0, 0, 0.00) 15.42%, rgba(0, 0, 0, 0.20) 83.22%), linear-gradient(90deg, #51152D 0%, #BA59D8 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48);
}