* {
    margin: 0px;
    padding: 0px;
}

.botoes
{
   border: none;
    display: flex;
    align-items: center;
 
    flex-flow: column nowrap;
    width: 246.667px;
    height: 65.333px;
    padding: 10.667px 52px;
    border-radius: 36px;
background: #722F53;
}
.botoes:hover{

        display: flex;    
        align-items: center;;
        position: relative;
        background-color: rgba(255, 255, 255, 1.0);
        border-radius: 27px;
        background: radial-gradient(
            50% 50% at 51% 37%,
            rgba(135, 19, 141, 1) 0%,
            rgba(216, 89, 157, 0.18) 100%
        );
        box-shadow: 0px 5px 10.7px 0px rgba(158, 22, 93, 0.85);
}
.botoes:active
{
    display: flex;
align-items: center;
border-radius: 27px;
border: 1px solid #4D0626;
background: linear-gradient(27deg, rgba(0, 0, 0, 0.00) 15.42%, rgba(0, 0, 0, 0.20) 83.22%), linear-gradient(90deg, #51152D 0%, #BA59D8 100%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48);
}
.textoAmarelo:hover
{
    color: #F2A518;
    transition: all 0.5s ease;

}
.textoAmarelo:active
{
  
    color: #C17802;
}
.textoRoxo:hover
{
    transition: all 0.5s ease;
    color: #AA35B0;
    cursor: pointer;
}
#bodyPaginaPrincipal
{
        height: 8600px;
}
html, body {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

#page1 {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center
}

#page1Header {

    width: 1920px;
    height: 100%;
    max-height: 200px;
    background-color: white;

}

#page1>header>section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#page1-header-top {

    width: 100%;
    height: 140px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#page1-logo-container {
    width: 225.293px;
    height: 153.644px;
    flex-shrink: 0;
}

#margin-header-top-itens {
    width: 33%;
}

#page1-user {
    width: 363px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page1-user > img, #page1-user > a > img {
    width: 54px;
    height: 54px;
}

#page1-header-bottom {

    width: 100%;
    height: 66px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

}

a, table > thead > tr > th > a{
    color: #040101;
    text-align: center;
    font-family: "The Next Font";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.page1-header-bottom-itens:hover {
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
font-family: "The Next Font";
font-style: normal;
font-weight: 400;
line-height: normal;
background: linear-gradient(90deg, #AA35B0 0%, #47164A 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
 transition: all 0.5s ease; 
}

#page1>main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: end;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    background: url(../src/Imagens/tela-principal/page1/page1-imagem1.svg);
    background-size: 1920px;
    background-repeat: no-repeat;
    gap: 20px;
    transition: background-image 0.5s ease-in-out;
  
}

#page1>main>p {
    width: 100%;
    max-width: 1920px;
    position: relative;
    font-size: 64px;
    font-family: 'Louis George Cafe';
    color: #fff;
    text-align: center;
    display: inline-block;
    text-shadow: 0px 0px 8.8px rgba(13, 0, 87, 0.99);
}

#page1>main>h1 {
    width: 100%;
    max-width: 1920px;   
    font-size: 146.67px;
    font-family: 'The Next Font';
    color: #fff;
    text-align: center;
    display: inline-block;
    text-shadow: 0px 4px 22.13px rgba(57, 16, 192, 0.89);
}



#page1>main> button > a > p {

    margin-top: px;
    height: 65.333px;
    text-align: center;
    font-size: 26.67px;
    font-family: 'The Next Font';
    color: #fff;
 
    display: inline-block;

}

#page1-circulos {
    gap: 10px;
    margin-bottom: 120px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
}

#page2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: black;
    height: 776px;
    width: 100%;
    max-width: 1920px;

}

#page2>h1 {
    text-align: center;
    color: white;
    width: 716px;
}
 #page2 > section
  {
     overflow-x: auto;
      scroll-snap-type: x ;
      
        width: 1100px;
         color: black;
          display: flex;
           flex-flow: row nowrap;
            align-items: center;
             gap: 26.33px;
             scrollbar-width: none;
                 }
#page2 > section > figure
{
    
    flex: none;
    display: flex;
    flex-flow: column nowrap;
    height: 569px;
    width: 255px;
    background-color: white;
}
#page2 > section {
    cursor: grab; /* Cursor padrão */
}

#page2 > section.dragging {
    cursor: grabbing; /* Cursor durante o arrasto */
}

#page2 > section > figure.page2-slide
{
    border-radius: 20px;
    overflow: hidden;
}

#page2 > section > figure > img
{
    width: 100%;
  height: 77%;
}
#page2 > section > figure > figcaption
{
    height: 100%;
    width: 90%;;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-self: center;
   
}
#page2 > section > figure > figcaption > p
{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000;
font-family: "Louis George Cafe";
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#page3 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 1310px;
    background: white;
}

#page3>header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 30px;
}

#page3>header>article {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 62px;
}

#page3>header>article>figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#page3>header>article>figure > img {
   width: 191px;
   height: 190px;
   
}

#page3>header>article>figure>figcaption {
    color: #000;
    font-family: "The Next Font";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

#page3>header>section {
    margin-top: 40px;
    width: 80.574px;
    height: 21.333px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
#page3>header>section > img
{
    cursor: pointer;
}
#page3>main>article {
    margin-top: 65px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#page3>main>article>h1 {
    color: #000;
    font-family: "PLAYFUL RUNWAY";
    font-size: 42.667px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#page3>main>article>p {
    width: 584px;
    height: 62px;
    color: #000;
    text-align: center;
    font-family: "Louis George Cafe";
    font-size: 26.667px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#page3>footer>nav {
    margin-top: 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 1574px;
    border-bottom: 1.093px solid #7C7C7C;
}
.linhaRoxa
{
    display: block;
    width: 110px;
height: 8px;
border-radius: 30px;
background: #BA3BFF;
z-index: 1;
}
#page3>footer>nav> div.cortes-em-alta-container
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 40px;
}
#page3>footer>nav> div.cortes-em-alta-container > p.cortes-em-alta-text {
    width: 286px;
    height: 60px;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    font-family: "The Next Font";
    font-size: 17.489px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#page3>footer>nav> div > p:hover {
    display: flex;
width: 200px;
height: 60px;
padding: 10px;
justify-content: center;
align-items: center;
border-radius: 8px;
border: 1px solid #F7F7F7;
background: radial-gradient(100.74% 93.19% at 45% -43.06%, rgba(255, 255, 255, 0.20) 0%, rgba(238, 230, 235, 0.20) 11.9%, rgba(215, 68, 220, 0.06) 100%);
box-shadow: 0px 11px 14px 0px #CB90CD;
transition: all 0.5s ease;
}


#page3>footer>article {
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 1574px;
}

#page3>footer>article>figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 50px;
}
.setas
{
    width: 17px;
    height: 31px;
}
#page3>footer>article>figure>.page3-cortes {
    border-radius: 2.186px;
    background: #5F0B38;
    width: 286.77px;
    height: 367.267px;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   
}
#page3>footer>article>figure>.page3-cortes > img
{
    
    width: 266.706px;
height: 289.66px;
}
#page3>footer>article>figure>.page3-cortes > h1
{
    margin-top: 12px;
    color: #FFF;
    text-align: center;
    font-family: "The Next Font";
    font-size: 34.978px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
   

#page3>footer>article>figure>figcaption>button {
    width: 202.215px;
    height: 53.56px;
}

#page3>footer>article>figure>figcaption>button>a {
    color: #FFF;
    text-align: center;
    font-family: "The Next Font";
    font-size: 21.861px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#page4 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 832px;
    background: white;
}

#page4>header {
    margin-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 15px;
}

#page4>header>h1 {
    color: #000;
    font-family: "PLAYFUL RUNWAY";
    font-size: 42.667px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#page4>header>p {
    color: #000;
    text-align: center;
    font-family: "Louis George Cafe";
    font-size: 26.667px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 857px;
}

#page4>main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 35px;
}

#page4>main>figure {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 3.009px solid #939191;
    background: #FFF;
    width: 332.424px;
    height: 480px;
    border: 3.009px solid #939191;
    background: #FFF;
}

#page4>main>figure>img {
    margin-top: 20px;
    width: 284px;
    height: 293.333px;
    flex-shrink: 0;
}

#page4>main>figure>figcaption {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#page4>main>figure>figcaption>p {
    margin-top: 50px;
}

#page4>main>figure>figcaption>button {
display: flex;
align-items: center;
justify-content: center;
width: 232px;
height: 36px;

}

#page4>main>figure>figcaption>button>a {
    color: #FFF;
    text-align: center;
    font-family: "The Next Font";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
   
}
#page4>main>figure>figcaption>button>a > p
{
    width: 232px;
    height: 15px;

}
#page5 {
    gap: 60px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 735px;
    background: white;
}

#page5>figure>img {
    margin-left: 15px;
    width: 721.333px;
    height: 608px;
}

#page5>article>h1 {
    color: #000;
    font-family: "The Next Font";
    font-size: 42.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 93.75% */
    letter-spacing: 2.133px;
    width: 732px;
}

#page5>article>p {
    width: 590px;
    height: 187px;
    color: #000;
    font-family: "Louis George Cafe";
    font-size: 21.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.667px;
    /* 125% */
    letter-spacing: 1.067px;
}

#page5>article>button {
    width: 203.673px;
    height: 53.946px;
}

#page5>article>button>a {
    color: #FFF;
    text-align: center;
    font-family: "The Next Font";
    font-size: 22.019px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#page6 {
    width: 100%;
    max-width: 1920px;
    height: 793px;
    background: var(--Amarelo, #ECC46F);
    gap: 60px;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: center;
}

#page6>figure>img {
    margin-left: 15px;
    width: 721.333px;
    height: 608px;
}

#page6>article>h1 {
    color: #000;
    font-family: "The Next Font";
    font-size: 42.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 93.75% */
    letter-spacing: 2.133px;
    width: 732px;
}

#page6>article>p {
    width: 590px;
    height: 187px;
    color: #000;
    font-family: "Louis George Cafe";
    font-size: 21.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.667px;
    /* 125% */
    letter-spacing: 1.067px;
}

#page6>article>button {
    
    width: 203.673px;
    height: 53.946px;
   
}

#page6>article>button>a {
    color: #FFF;
    text-align: center;
    font-family: "The Next Font";
    font-size: 22.019px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#page7 {
    width: 100%;
    height: 750px;
    background: white;
    gap: 60px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#page7>figure>img {
    margin-left: 15px;
    width: 721.333px;
    height: 608px;
}

#page7>article>h1 {
    color: #000;
    font-family: "The Next Font";
    font-size: 42.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 93.75% */
    letter-spacing: 2.133px;
    width: 732px;
}

#page7>article>p {
    width: 590px;
    height: 187px;
    color: #000;
    font-family: "Louis George Cafe";
    font-size: 21.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.667px;
    /* 125% */
    letter-spacing: 1.067px;
}

#page7>article>button {

    width: 203.673px;
    height: 53.946px;
 
}

#page7>article>button>a {
    color: #FFF;
    text-align: center;
    font-family: "The Next Font";
    font-size: 22.019px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#page8 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 750px;
    background: white;
}

#page8>header {
    width: 1519px;
    height: 63px;
    background: #000;

}

#page8>header>h1 {
    color: #FFF;
    font-family: "The Next Font";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#page8>main {
    gap: 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#page8>main>figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#page9 {
    gap: 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    height: 1174px;
    background: url(pagina-principal/imagens/page9/page9-background.png);
}

#page9>figure {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#page9>figure>img {
    width: 486px;
    height: 744.64px;
}


#page10 {
    width: 100%;
    height: 427px;
    background: #552122;
}

#page10 iframe {
    width: 100%;
    height: 100%;
}