* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5E332C;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main {
    background-color: white;
    border-radius: 2vw;
    box-sizing: border-box;
    width: 96vw;
    height: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    overflow: hidden;
}

.pergunta-header {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	align-items: flex-start;
	justify-content: flex-start;
	height: 6rem;
	min-height: 6rem;
}

.pergunta-titulo {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
    width: 90%;
}

.pergunta-subtitulo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.esquerda {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5E332C;
    width: 48vw;
    height: 95%;
    border-radius: 2vw 0 0 2vw;
    margin-left: 1.5vw;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 92%;
}

.seta {
    display: flex;
    align-items: center;
    width: 22vw;
    background: none;
    border: none;
    cursor: pointer;
}

.seta img {
    width: 2.3rem;
    height: 2rem;
}

.seta p {
    color: #AAA;
    font-family: "Louis George Cafe";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: text-decoration 1s ease, color 0.3s ease;
}

.seta p:hover {
    color: #e6e6e6;
    text-decoration: underline;
    text-underline-offset: 5%;
    text-decoration-color: #F2A518;
    text-decoration-thickness: 0.1rem;
}

.esquerda h1 {
    color: #F2A518;
    font-family: "The Next Font";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 20rem;
    margin-bottom: 1.5rem;
}

.esquerda h2 {
    color: #ffffff;
    font-family: "The Next Font";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 90%;
    word-break: break-word;
}

.esquerda h3 {
    color: #F2A518;
    font-family: "Louis George Cafe";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 11rem;
}

#logo {
    width: 100%;
    height: 8rem;
    max-width: 9rem;
    flex-shrink: 0;
    flex-grow: 0;
    margin-bottom: 1.5rem;
}






.direita {
    display: flex;
    width: 48vw;
    height: 95%;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    box-sizing: border-box;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.direita img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 34rem;
    height: auto;
}

.respostas {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2vw;
    flex-shrink: 1; 
    flex-grow: 0; 
}

.direita label {
    width: 45rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: .5rem;
    border: 0.19rem solid #F2A518;
    border-radius: 0.8rem;
    background: #fff;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.2s;
}

input[type="radio"] {
    appearance: none;
    width: 1.4rem;
    height: 1.3rem;
    border: 0.4rem solid transparent;
    border-radius: 50%;
    background-color: transparent;
    outline: 0.15rem solid #F2A518;
    transition: background-color 0.3s ease, border 0.3s ease;
    margin-left: 2rem;
}

input[type="radio"]:checked {
    background-color: #F2A518;
    border: 0.25rem solid white;
}

.direita label span {
    width: 95%; 
    word-break: break-word;
    padding: 0.5rem 0.5rem;
    border-radius: 0.8rem;
    transition: background 0.2s;
    color: #000;
    font-family: "Louis George Cafe";
    font-size: var(--CORPO-DE-TEXTO-1, 1.3rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.direita label.selected {
    background: #FFF3DD;
    border-color: #D28416;
}

.botoes {
    display: flex;
    gap: 2rem;
    margin-top: auto;
}

#number_one {
    display: flex;
    width: 8rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #F2A518;
    font-family: "The Next Font";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0.15rem solid #F2A518;
    border-radius: 0.8rem;
    background-color: transparent;
    cursor: pointer;
}

#number_two {
    display: flex;
    width: 8rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #ffffff;
    font-family: "The Next Font";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 0.8rem;
    background-color: #F2A518;
    cursor: pointer;
}