* {
    margin: 0;
    padding: 0;
    color: var(--corpo-texto);
}

body {
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--body-back);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

html {
    overflow-x: hidden;
}

<<<<<<< Updated upstream
<<<<<<< Updated upstream
header iframe {
    width: 100%;
    height: 200px;
    border: none;
}

header {
    width: 100%;

    background-image: url('/images/skincare.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}

=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
main {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}


