<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cabecalho.css">
    <link rel="stylesheet" href="../../pagina-principal/estilos/reset.css">
    <link rel="stylesheet" href="../../pagina-principal/estilos/fontes.css">
    <link rel="stylesheet" href="../../pagina-principal/estilos/tabelas.css">
    <link rel="stylesheet" href="../../pagina-principal/estilos/index.css">
</head>
<body>
  <header>
    <section>
        <div id="page1-header-top">
            <div id="page1-logo-container">
                <a target="_blank" href="../../index.html"><img src="../../pagina-principal/imagens/logo-oasis-total.png" alt="logo-oasis"></a>
            </div>
            <div id="margin-header-top-itens"></div>
            <div id="page1-user">
               <a target="_blank" href="../../Pesquisa/index.html"><img src="../../pagina-principal/imagens/page1/lupa.png"  alt="Pesquisae"></a>
               <a target="_blank" href="../../Favoritos/index.html"><img src="../../pagina-principal/imagens/page1/coracao.png" alt="Favoritos"></a>
               <a target="_blank" href="../../Tela-login/index.html" target="_blank"><img src="../../pagina-principal/imagens/page1/usuario.png" alt="Usuario"></a>
            </div>
        </div>
        <nav id="page1-header-bottom">
           <table id="tableCortes">
            <thead>
             <tr>
               <th><a target="_blank" href="../../CorteS/index.html" class="page1-header-bottom-itens">CORTES</a></th>
              </tr>
            </thead>
            <tbody>
               <tr class="tr-cabecalho">
                <th><h1 class="textoAmarelo">Tamanho</h1>
                  <div class="linhaRoxa2"></div>
                <div id="tr-cabecalho-tamanho-itens">
                  <p class="textoRoxo">Super curto</p>
                  <p class="textoRoxo">Curto</p>
                  <p class="textoRoxo">Médio</p>
                  <p class="textoRoxo">Longo</p>
                  <p class="textoRoxo">Super Longo</p>
                </div></th>
               <th><h1 class="textoAmarelo">Formato</h1>
                <div class="linhaRoxa2"></div>
                <div id="tr-cabecalho-formato-itens">
                  <div id="tr-cabecalho-formato-item1">
                    <p class="textoRoxo">2A</p>
                    <p class="textoRoxo">2B</p>
                    <p class="textoRoxo">2C</p>
                    <p class="textoRoxo">3A</p>
                    <p class="textoRoxo">3B</p>
                    <p class="textoRoxo">3C</p>
                  </div>
                   <div id="tr-cabecalho-formato-item2">
                    <p class="textoRoxo">4A</p>
                    <p class="textoRoxo">4B</p>
                    <p class="textoRoxo">4C</p>
                   </div>
                </div>
                  </th>
                <th><h1 class="textoAmarelo">Tipo de rosto</h1>
                  <div class="linhaRoxa2"></div>
                <div id="tr-cabecalho-tipo-de-rosto-itens">
                  <p class="textoRoxo">rosto Oval</p>
                  <p class="textoRoxo">Rosto Redondo</p>
                  <p class="textoRoxo">Rosto Coração</p>
                  <p class="textoRoxo">Rosto Quadrado</p>
                  <p class="textoRoxo">Rosto Diamante</p>
                </div>
                </th>
                <th>
                  <div id="tr-cabecalho-tipo-de-banners-itens">
                    <img src="../../pagina-principal/imagens/page1/cortes-banner1.png" alt="a profissão de 2024: Transista">
                    <img src="../../pagina-principal/imagens/page1/cortes-banner2.png" alt="Verão 2024 tendencias">
                  </div>
                </th>
               </tr>
              
            </tbody>
           </table>
           <table id="tablePenteados" class="tableItensNone">
            <thead>
             <tr>
               <th><a href="#" class="page1-header-bottom-itens">PENTEADOS</a></th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-cabecalho">
               <th><h1 class="textoAmarelo">Tamanho</h1>
                 <div class="linhaRoxa2"></div>
               <div id="tr-cabecalho-tamanho-itens">
                 <p class="textoRoxo">Super curto</p>
                 <p class="textoRoxo">Curto</p>
                 <p class="textoRoxo">Médio</p>
                 <p class="textoRoxo">Longo</p>
                 <p class="textoRoxo">Super Longo</p>
               </div></th>
              <th><h1 class="textoAmarelo"> Penteados</h1>
               <div class="linhaRoxa2"></div>
               <div id="tr-cabecalho-formato-itens">
                 <div id="tr-cabecalho-formato-item1">
                   <p class="textoRoxo">Trança</p>
                   <p class="textoRoxo">Coque</p>
                   <p class="textoRoxo">Com Elástico</p>
                   <p class="textoRoxo">Tradicionais</p>
                   <p class="textoRoxo">Para Festas!</p>
                   <p class="textoRoxo">Com Faixa</p>
                 </div>
                  <div id="tr-cabecalho-formato-item2">
                   <p class="textoRoxo">Com laço</p>
                   <p class="textoRoxo">Para O Trabalho</p>
                   <p class="textoRoxo">Para quem está em transição</p>
                  <p class="textoRoxo">twist</p> 
                <p class="textoRoxo">com presilha</p>
                 <p class="textoRoxo">baby hair</p> </th></div>
                 <th><h1 class="textoAmarelo">Formato</h1>
                  <div class="linhaRoxa2"></div>
                  <div id="tr-cabecalho-formato-itens">
                    <div id="tr-cabecalho-formato-item1">
                      <p class="textoRoxo">2A</p>
                      <p class="textoRoxo">2B</p>
                      <p class="textoRoxo">2C</p>
                      <p class="textoRoxo">3A</p>
                      <p class="textoRoxo">3B</p>
                      <p class="textoRoxo">3C</p>
                    </div>
                     <div id="tr-cabecalho-formato-item2">
                      <p class="textoRoxo">4A</p>
                      <p class="textoRoxo">4B</p>
                      <p class="textoRoxo">4C</p>
                     </div>
                  </div>
                    </th>
              
              </tr>
             
           </tbody>
           </table>
           <table id="tablecoloracao" class="tableItensNone">
            <thead>
             <tr>
               <th><a href="#" class="page1-header-bottom-itens">COLORAÇÃO</a></th>
              </tr>
            </thead>
            <tbody>
               <tr>
                <th>
                <img src="../../pagina-principal/imagens/page1/hoverColoracao.png" alt="COLORAÇÃO">
                </th>
               </tr>
            </tbody>
           </table>
           <table id="tableSkinCare" class="tableItensNone">
            <thead>
             <tr>
               <th><a target="_blank" href="../../skincare/index.html" class="page1-header-bottom-itens">Skincare</a></th>
              </tr>
            </thead>
            <tbody>
               <tr>
                <th>
                <img src="../../pagina-principal/imagens/page1/hoverSkinCare.png" alt="SkinCare">
                </th>
               </tr>
            </tbody>
           </table>
           <table id="tableCronogramaCapilar" class="tableItensNone">
            <thead>
             <tr>
               <th> <a href="#" class="textoAmarelo">CRONOGRAMA CAPILAR</a></th>
              </tr>
            </thead>
           </table>
           <table id="tableRecomendacoes" class="tableItensNone">
            <thead>
             <tr>
               <th><a href="#" class="page1-header-bottom-itens">RECOMENDAÇÕES</a></th>
              </tr>
            </thead>
            <tbody>
               <tr>
                <th>
                <img src="../../pagina-principal/imagens/page1/hoverRecomendacoes.png" alt="Recomendações">
                </th>
               </tr>
            </tbody>
           </table>
           
        </nav>
    </section>
</header>
    <script src="cabecalho.js"></script>
</body>
</html>