<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/pos_login.css">
</head>
<body>

    <main>
        <section class="uno">
            <img id="logo" src="" alt="">
        </section>

        <section class="dos">
            <div class="foto">
                <img id="usuario" src="" alt="">
            </div>

            <div class="info">
                <h1>Sofia Ferreira</h1>
                <h2>ferreira.so97@gmail.com</h2>
            </div>
        </section>

        <section class="tres">
            <div class="textos-1">
                <p>Meu Perfil</p>
                <p>Minha Conta</p>
                <p>Visto Recentemente</p>
                <p>Notificações</p>
                <p>Configurações</p>
            </div>

            <div class="textos-2">
                <p>Empresas Associadas</p>
                <p>Entre em contato - Usuário</p>
                <p>Entre em contato - Empresa</p>
            </div>

            <div class="textos-3">
                <div class="esquerda">
                    <p>Dúvidas Frequentes</p>
                    <p>Modo Escuro</p>
                    <p>Acessibilidade</p>
                    <p>Sobre Nós</p>
                </div>

                <div class="direita">
                    <button></button>
                </div>
            </div>

            <div class="textos-4">
                <p>Sair</p>
            </div>
        </section>
    </main>
    
</body>
</html>